h2{
    text-align: center;
}

h4{
    margin-left: 10px;
}

input{
    width: 350px;
    height: 20px;
    margin-left: 75px;
}

.boton{
    width: 200px;
    height: 30px;
    margin-top: 25px;
    margin-left: 30%;
}